<!DOCTYPE html>
<html>
<head>
    <title>Admin - Change a password</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#login_btn').click(function() {
                var data = { name: $('#login_un').val(), password: $('#login_pw').val() };
                $.post('/tokens/login/', data, function(json_response_1) {
                    var response_1 = JSON.parse(json_response_1);
                    var token = response_1.token;
                    $.get('/users/me/?token=' + token, function(json_response_2) {
                        var response_2 = JSON.parse(json_response_2);
                        if (response_2.is_admin) {
                            window.token = token;
                            $('#btn').attr('disabled', false);
                        } else {
                            alert('You are not an admin! You should not use this page.');
                        }
                    });
                });
            });
            $('#btn').click(function() {
                var data = { new_password: $('#pw').val(), token: window.token };
                $('#msg').text('');
                $.post('/users/' + $('#id').val() + '/change_password/', data, function() {
                   $('#msg').text('Changed the password!');
                });
            });
        });
    </script>
</head>
<body>
    <!-- login thing for grabbing the token -->
    <div>
        <input type="text" id="login_un" placeholder="username" />
        <input type="password" id="login_pw" placeholder="password" />
        <input type="submit" id="login_btn" value="Login first" />
    </div>
    <!-- thing for actually changing the password -->
    <div>
        <input type="text" id="id" placeholder="user id" />
        <input type="password" id="pw" placeholder="new password" />
        <input type="submit" id="btn" value="Change password!" disabled />
    </div>
    <div id="msg"></div>
</body>
</html>
