<!DOCTYPE html>
<html>
<head>
    <title>Show my files</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#login_btn').click(function() {
                var data = { name: $('#login_un').val(), password: $('#login_pw').val() };
                $.post('/tokens/login/', data, function(json_response) {
                    var response = JSON.parse(json_response);
                    window.token = response.token;
                    $('#btn').attr('disabled', false);
                });
            });
            $('#btn').click(function() {
                $('#tbd')[0].innerHTML = '';
                $('#msg').text('');
                $.get('/sync/?token=' + window.token, function(data) {
                    var items = JSON.parse(data);
                    var total_space_used = 0;
                    for (var i = 0; i < items.length; i++) {
                        var item = items[i];
                        total_space_used += item.size;
                        var row = '<tr>' +
                                '<td>' + item.id + '</td>' +
                                '<td>' + item.owner_id + '</td>' +
                                '<td>' + item.local_path + '</td>' +
                                '<td>' + item.size + '</td>' +
                                '<td>' + item.last_modified + '</td>' +
                                '</tr>';
                        $('#tbd')[0].innerHTML += row;
                    }
                    $('#msg').text('Total space used: ' + total_space_used);
                });
            });
        });
    </script>
</head>
<body>
    <!-- login thing for grabbing the token -->
    <div>
        <input type="text" id="login_un" placeholder="username"/>
        <input type="password" id="login_pw" placeholder="password"/>
        <input type="submit" id="login_btn" value="Login first"/>
    </div>
    <div>
        <input type="submit" id="btn" value="Show my files!" disabled />
    </div>
    <table id="tbl" border="1">
        <thead>
            <tr>
                <td>File Id</td>
                <td>Owner Id</td>
                <td>Local Path</td>
                <td>Size</td>
                <td>Last Modified</td>
            </tr>
        </thead>
        <tbody id="tbd">
        </tbody>
    </table>
    <div id="msg"></div>
</body>
</html>
