<!DOCTYPE html>
<html>
<head>
    <title>Change my password</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#btn').click(function() {
                data = {current_user: $('#id').val(), new_password: $('#pw').val() };
                $.post('/users/' + $('#id').val() + '/change_password/', data, function() {
                   $("#msg").text("Changed the password!");
                });
            });
        });
    </script>
</head>
<body>
    <div>
        <input type="text" id="id" placeholder="user id" />
        <input type="password" id="pw" placeholder="new password" />
        <input type="submit" id="btn" value="Change password!" />
    </div>
    <div id="msg"></div>
</body>
</html>
